<%= form_for(@synth_preset_user) do |f| %>
  <% if @synth_preset_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@synth_preset_user.errors.count, "error") %> prohibited this synth_preset_user from being saved:</h2>

      <ul>
      <% @synth_preset_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :preset_id %><br>
    <%= f.number_field :preset_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
