<div class="container">
<% if (user_signed_in?) %>
  <% @checklists.each do |checklist| %>
    <% if current_user.id == checklist.user_id %>
      <% @curChecklist = checklist %>
    <% end %>
  <% end %>
  <div class="jumbotron">
    <p>Hello, <%= current_user.name %></p>
  </div>

  <!-- newEvent Modal -->
  <div class="modal fade" id="newEvent" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Event</h4>
        </div>
        <div class="modal-body">
          <p>Your details</p>
          <p>title:string date:datetime location:string eventType:string schedule_id:integer</p>
          <% @event = Event.new %>
          <%= render "events/form" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

<!-- newTask Modal -->
  <div class="modal fade" id="newTask" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Task</h4>
        </div>
        <div class="modal-body">
          <% @task = Task.new %>
          <div class="container">
<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Task Name" %><br>
    <%= f.text_field :str %>
  </div>
  <div class="field">
    <%= f.check_box :finished, :checked => true, :style => 'visibility: hidden' %>
  </div>
  <div class="field">
    <%= f.hidden_field :checklist_id, value: @curChecklist.id, readonly: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    <span>Checklist</span>
    <button type="button" class="btn btn-default btn-md pull-right" data-toggle="modal" data-target="#newTask">Add Task</button>
    <hr>
    <div class="well" style="height: 300px; max-height: 300px;overflow: auto;">
      <ul class="list-group checked-list-box" >
      <% @checklists.each do |checklist| %>
        <% if current_user.id == checklist.user_id %>
          <% @tasks.each do |task| %>
            <% if task.checklist_id == checklist.id %>
              <li class="list-group-item" <% if task.finished == "t" then %>data-checked="true"<% end %>><%= task.str %></li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>  
  <div class="col-md-6">
    <span>Schedule</span>
    <button type="button" class="btn btn-default btn-md pull-right" data-toggle="modal" data-target="#newEvent">Add Event</button>
    <hr>
    <div class="well" style="height: 300px; max-height: 300px;overflow: auto;">
      <% @schedules.each do |schedule| %>
        <% if current_user.id == schedule.user_id %>
          <% @events.each do |event| %>
            <% if event.schedule_id == schedule.id %>
              <li class="list-group-item"><%= event.title %></li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

<% else %>
  <div class="jumbotron">
    <p>You are not logged in</p>
  </div>
<% end %>
</div>
