<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @sequencer_preset.filename %>
</p>

<p>
  <strong>Private:</strong>
  <%= @sequencer_preset.private %>
</p>

<p>
  <strong>User:</strong>
  <%= @sequencer_preset.user_id %>
</p>

<%= link_to 'Edit', edit_sequencer_preset_path(@sequencer_preset) %> |
<%= link_to 'Back', sequencer_presets_path %>
