<p id="notice"><%= notice %></p>

<h1>Listing Synth Presets</h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Private</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @synth_presets.each do |synth_preset| %>
      <tr>
        <td><%= synth_preset.filename %></td>
        <td><%= synth_preset.private %></td>
        <td><%= synth_preset.user_id %></td>
        <td><%= link_to 'Show', synth_preset %></td>
        <td><%= link_to 'Edit', edit_synth_preset_path(synth_preset) %></td>
        <td><%= link_to 'Destroy', synth_preset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Synth preset', new_synth_preset_path %>
