<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @synth_preset.filename %>
</p>

<p>
  <strong>Private:</strong>
  <%= @synth_preset.private %>
</p>

<p>
  <strong>User:</strong>
  <%= @synth_preset.user_id %>
</p>

<%= link_to 'Edit', edit_synth_preset_path(@synth_preset) %> |
<%= link_to 'Back', synth_presets_path %>
