<p id="notice"><%= notice %></p>

<p>
  <strong>Preset:</strong>
  <%= @sequencer_preset_user.preset_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @sequencer_preset_user.user_id %>
</p>

<%= link_to 'Edit', edit_sequencer_preset_user_path(@sequencer_preset_user) %> |
<%= link_to 'Back', sequencer_preset_users_path %>
