<%= form_for(@synth_tag) do |f| %>
  <% if @synth_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@synth_tag.errors.count, "error") %> prohibited this synth_tag from being saved:</h2>

      <ul>
      <% @synth_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :str %><br>
    <%= f.text_field :str %>
  </div>
  <div class="field">
    <%= f.label :synth_id %><br>
    <%= f.number_field :synth_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
