<p id="notice"><%= notice %></p>

<h1>Listing Synth Tags</h1>

<table>
  <thead>
    <tr>
      <th>Str</th>
      <th>Synth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @synth_tags.each do |synth_tag| %>
      <tr>
        <td><%= synth_tag.str %></td>
        <td><%= synth_tag.synth_id %></td>
        <td><%= link_to 'Show', synth_tag %></td>
        <td><%= link_to 'Edit', edit_synth_tag_path(synth_tag) %></td>
        <td><%= link_to 'Destroy', synth_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Synth tag', new_synth_tag_path %>
