<div class="container">
<p id="notice"><%= notice %></p>
    <% @tasks.each do |task| %>
        <li><%= task.str %></li>
        <li><%= task.finished %></li>
        <li><%= task.checklist_id %></li>
        <%= link_to 'Show', task %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

<%= link_to 'New Task', new_task_path %>
</div>
